$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import 'font-awesome.css';
// endbower
@font-face {
  font-family: 'NeoSansIntel';
  src: 	url('../fonts/NeoSansIntel.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/NeoSansIntel.woff') format('woff'), 
  		url('../fonts/NeoSansIntel.ttf')  format('truetype'), 
  		url('../fonts/NeoSansIntel.svg#NeoSansIntel') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NeoSansIntel-Light';
  src: 	url('../fonts/NeoSansIntel-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansIntel-Light.woff') format('woff'),
		url('../fonts/NeoSansIntel-Light.ttf')  format('truetype'),
		url('../fonts/NeoSansIntel-Light.svg#NeoSansIntel-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
	font-family: 'NeoSansIntel';
	color: rgba(255,255,0,1);
	letter-spacing: 0.7px;
}


.slider{
	margin-top: 25px;
	width: 975px;
	overflow: hidden;
	.header {
		box-shadow: 0 5px 5px rgba(0,0,0,0.3);
		height: 65px;
		overflow: hidden;
		position: relative;
		text-align: center;
		z-index: 1;

		background: #0057a3; /* Old browsers */
		background: -moz-linear-gradient(top,  #0057a3 0%, #0166ba 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0057a3), color-stop(100%,#0166ba)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #0057a3 0%,#0166ba 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #0057a3 0%,#0166ba 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #0057a3 0%,#0166ba 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #0057a3 0%,#0166ba 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0057a3', endColorstr='#0166ba',GradientType=0 ); /* IE6-9 */

		h1{
			line-height: 1.7;
			padding: 0;
			margin: 0;
			font-size: 34px;
		}
	}

	.photo-area{
		background: transparent url('../images/intel-bg.jpg') left top no-repeat;
		height: 540px;
		width: 100%;
		position: relative;
		overflow: hidden;
		.photo{
			width: 495px;
			position: relative;
			z-index: 1;
			img{
				border: 1px solid white;
				max-width: 495px;
				height: 405px;
			}
		}

		.controls {
			width: 571px;
			position: absolute;
			top: 180px;
			left: -38px;
			.prev,
			.next{
				background: rgba(255, 255, 255, 0.3);
				border: 1px solid white;
				box-shadow: 0 0 25px 4px black;
				color: white;
				cursor: pointer;
				height: 43px;
				font-size: larger;
				padding-top: 10px; 
				position: absolute;
				width: 39px;
				text-align: center;

				-webkit-transition: all linear .1s;
				   -moz-transition: all linear .1s;
					 -o-transition: all linear .1s;
						transition: all linear .1s;

				&:hover{
					background: rgba(255, 255, 255, 0.7);
					color: #337dbe;
				}
			}
			.prev{
				left: 0;
			}
			.next{
				right: 0;
			}
		}

		.photo-description{
			font-size: 24px;
			text-align: center;
			letter-spacing: 0.4px;
			left: -30px;
			position: absolute;
			width: 110%;

			h2{
				font-size: 24px;
				line-height: 1;
				padding: 0;
				margin-bottom: 5px;
			}
			p{
				font-family: 'NeoSansIntel-Light';
				font-size: 16px;
			}
		}

		.photo-container {
			width: 495px;
			margin: 43px auto;
			position: relative;
		}

		.separator{
			border-bottom: 1px solid rgba(175,175,175,0.8);
			border-top: 1px solid rgba(210,210,210,0.8);
			bottom: 0;
			height: 6px;
			width: 100%;
			position: absolute;

			background: #e9e9e9; /* Old browsers */
			background: -moz-linear-gradient(left,  #e9e9e9 0%, #bfc0c1 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e9e9e9), color-stop(100%,#bfc0c1)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #e9e9e9 0%,#bfc0c1 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #e9e9e9 0%,#bfc0c1 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #e9e9e9 0%,#bfc0c1 100%); /* IE10+ */
			background: linear-gradient(to right,  #e9e9e9 0%,#bfc0c1 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#bfc0c1',GradientType=1 ); /* IE6-9 */
		}
	}

	.thumbnails{
		background: transparent url('../images/footer-bg.png') left top repeat;
		height: 119px;
		width: 100%;
		position: relative;
		overflow: hidden;

		&:after{
			color: black;
			content: "";
			display: block;
			height: 40px;
			width: 55%;
			top: -48px;
			position: absolute;
			right: 20px;
			box-shadow: 0 0 60px;
			-ms-transform: rotate(1.5deg);
			-webkit-transform: rotate(1.5deg);
			transform: rotate(1.5deg);
		}

		.thumbs{
			display: flex;
			margin: 25px auto;
			overflow: hidden;
			width: 620px;
			height: 75px;
			img{
				cursor: pointer;
				height: 60px;
				max-width: 100px;
				width: 100%;
				display: inline-flex;
				vertical-align: top;
				padding: 0;
				margin: 0;
				opacity: 0.5;

				-webkit-transition: all linear .1s;
				   -moz-transition: all linear .1s;
					 -o-transition: all linear .1s;
						transition: all linear .1s;

				&:hover,
				&.current-img{
					height: 70px;
					border: 1px solid #03a2df;
					max-width: 120px !important;
					width: 120px !important;
					opacity: 1;
				}
			}
		}
	}
}